@charset "utf-8";

/*
   Project Part 1

   Author: Daniel Marietta
   Date:   03/23/2023
   
   Filename: Projectp1-css2.css

*/
/* HTML and Body Styles */
html {
	 background-color: rgb(214,210,210);
 }
 /* Home Styles */
 header {
  grid-row: 1 / -1; /* spans all rows */
  grid-column: 1 / -1; /* spans all columns */
  padding: 10px;
  outline: 3px dashed gray;
}
 h1 {
	color: white;
	 font-size: 32px; 
	 background-color: rgb(214,203,193);
	 
 }
 ul {
	 color: black;
	 font-size: 18px;
	 background-color: rgb(214,203,193);
 }
  h2 {
	 color: white;
	 font-size: 32px; 
	 background-color: rgb(161,198,234);;
  }
  ul {
	  color: black; 
	  font-size: 18px;
	  
  }
  li {
	  color: black; 
	  font-size: 18px;
	  
  }
 p1 {
	 color: black;
	 font-size: 18px;
	 
 }
/* Game Styles  */
 h3 {
	 color: white;
	 font-size: 32px; 
	 background-color: rgb(161,198,234);
	 
 }
 h4 {
color: white;
font-size: 24px;
background-color: rgb(187,209,234)
 }
 p2 {
	 color: black;
	 font-size: 18px;
 }
 